header, footer{
	text-align: center;
}

#logo{
	width: 12%;
}

h1, h3, h4{
	font-family: 'Open Sans', sans-serif;
}

label{
	font-family: Helvetica;
	font-size: 14px;
}

td{
	padding-top: 2%;
}

h4{
	font-size: 13px;
	margin-top: 1.5%;
}

table{
	//margin-left: 33%;
	margin-top: 3%;
}

input{
	width: 100%;
}

.mitad{
	width: 50%;
}

